<!-- Page Footer -->
<div class="hk-footer">
  <footer class="container-xxl footer">
    <div class="row">
      <div class="col-xl-8">
        <p class="footer-text">
          <span class="copy-text">Event-Driven-TMS © 2025 All rights reserved.</span>
          <a href="#" class="" target="_blank">Privacy Policy</a
          ><span class="footer-link-sep">|</span
          ><a href="#" class="" target="_blank">T&C</a
          ><span class="footer-link-sep">|</span
          ><a href="#" class="" target="_blank">System Status</a>
        </p>
      </div>
      <div class="col-xl-4">
        <a href="https://github.com/Thescattypotty/Event-Driven-TMS" class="footer-extr-link link-default"
          ><span class="feather-icon">
            <i-feather name="external-link"></i-feather>
            </span
          ><u>Follow us on Github</u></a
        >
      </div>
    </div>
  </footer>
</div>
<!-- / Page Footer -->
