<!-- Top Navbar -->
<nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
  <div class="container-xxl">
    <!-- Start Nav -->
    <div class="nav-start-wrap">
      <a class="navbar-brand" href="index.html">
        <img
          class="brand-img d-inline-block"
          src="assets/img/logo-light.png"
          alt="brand"
        />
      </a>
    </div>
    <!-- /Start Nav -->

    <!-- End Nav -->
    <div class="nav-end-wrap">
      <ul class="navbar-nav flex-row">
        <li class="nav-item nav-link py-0">
          <button class="btn btn-sm btn-outline-light">
            <span>
                <span class="icon">
                    <span class="feather-icon">
                        <i-feather name="help-circle"></i-feather>
                    </span>
                </span>
                <span>Get Help</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <!-- /End Nav -->
  </div>
</nav>
