<div class="example-container">
    <h3>
        To do
        <button class="btn btn-primary btn-sm float-end">
            <i class="bi bi-plus"></i>
        </button>
    </h3>
    <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todoTasks"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of todoTasks" cdkDrag>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">List group item heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                </div>
                <small class="text-nowrap">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-dropbox"></i>
                    </a>
                    <ul class="dropdown-menu bg-black text-white">
                        <li><a class="dropdown-item text-white" href="#">View</a></li>
                        <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h3>
        In Progress
        <button class="btn btn-primary btn-sm float-end">
            <i class="bi bi-plus"></i>
        </button>
    </h3>
    <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgressTasks"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of inProgressTasks" cdkDrag>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">List group item heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                </div>
                <small class="text-nowrap">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-dropbox"></i>
                    </a>
                    <ul class="dropdown-menu bg-black text-white">
                        <li><a class="dropdown-item text-white" href="#">View</a></li>
                        <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h3>
        Done
        <button class="btn btn-primary btn-sm float-end">
            <i class="bi bi-plus"></i>
        </button>
    </h3>
    <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneTasks"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of doneTasks" cdkDrag>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">List group item heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                </div>
                <small class="text-nowrap">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-dropbox"></i>
                    </a>
                    <ul class="dropdown-menu bg-black text-white">
                        <li><a class="dropdown-item text-white" href="#">View</a></li>
                        <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>
