<div class="tabs-container">
    <!-- Tabs Navigation -->
    <div class="tabs-header nav nav-tabs">
      <button 
        *ngFor="let tab of ['tasks', 'details', 'files', 'members']"
        class="nav-link"
        [class.active]="selectedTab === tab" 
        (click)="selectTab(tab)"
      >
        {{ tab }}
      </button>
    </div>
  
    <!-- Tabs Content -->
    <div class="tabs-content">
        <div *ngIf="selectedTab === 'tasks'">
            <div class="example-container">  
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                TEST
              </div>
            </div>
                <h3>
                    To do
                    <button class="btn btn-primary btn-sm float-end" (click)="createTask('TODO')">
                        <i class="bi bi-plus"></i>
                    </button>
                </h3>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList, inProgressList]"
                    class="example-list"
                    (cdkDropListDropped)="dropp($event)">
                    <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of todo" cdkDrag>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">List group item heading</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                            </div>
                            <small class="text-nowrap">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dropbox"></i>
                                </a>
                                <ul class="dropdown-menu bg-black text-white">
                                    <li><a class="dropdown-item text-white" href="#">View</a></li>
                                    <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="example-container">
                <h3>
                    In Progress
                    <button class="btn btn-primary btn-sm float-end" (click)="createTask('IN_PROGRESS')">
                        <i class="bi bi-plus"></i>
                    </button>
                </h3>
                <div
                    cdkDropList
                    #inProgressList="cdkDropList"
                    [cdkDropListData]="inProgress"
                    [cdkDropListConnectedTo]="[todoList, doneList]"
                    class="example-list"
                    (cdkDropListDropped)="dropp($event)">
                    <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of inProgress" cdkDrag>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">List group item heading</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                            </div>
                            <small class="text-nowrap">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dropbox"></i>
                                </a>
                                <ul class="dropdown-menu bg-black text-white">
                                    <li><a class="dropdown-item text-white" href="#">View</a></li>
                                    <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="example-container">
                <h3>
                    Done
                    <button class="btn btn-primary btn-sm float-end" (click)="createTask('DONE')">
                        <i class="bi bi-plus"></i>
                    </button>
                </h3>
                <div
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[todoList, inProgressList]"
                    class="example-list"
                    (cdkDropListDropped)="dropp($event)">
                    <div class="example-box list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let item of done" cdkDrag>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">List group item heading</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                            </div>
                            <small class="text-nowrap">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dropbox"></i>
                                </a>
                                <ul class="dropdown-menu bg-black text-white">
                                    <li><a class="dropdown-item text-white" href="#">View</a></li>
                                    <li><a class="dropdown-item text-white" href="#">Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTab === 'details'" class="container demo">
                
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                ...
              </div>
            </div>
                </div>
      <div *ngIf="selectedTab === 'files'">
        <h3>Files Content</h3>
        <!-- Add your files-specific content here -->
      </div>
      <div *ngIf="selectedTab === 'members'">
        <h3>Members Content</h3>
        <!-- Add your members-specific content here -->
      </div>
    </div>
  </div>
  